.techs__title{
    font-weight: normal;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    color: #FFFFFF;
    margin: 90px auto 26px;
    letter-spacing: -0.04em;
}

@media screen and (max-width: 769px) {    
    .techs__title {
        margin: 80px auto 23px;
    }
}

@media screen and (max-width: 350px) {    
    .techs__title {
        margin: 61px auto 23px;
        font-size: 30px;
        line-height: 36px;
    }
}