.navigation__link{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 28px;
}

.navigation__link:last-of-type{
    margin-bottom: 0;
}

@media screen and (max-width: 322px) {    
    .navigation__link {
        margin-bottom: 25px;
    }
}