.profile__submit-button{
    background: #202020;
    border-radius: 3px;
    border: none;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    cursor: pointer;
}
