.portfolio__rows{
    display: flex;
    justify-content: space-between;
    margin: 0 auto  20px;
    max-width: 89%;
    border-bottom: 1px solid #424242;
    padding-bottom: 8px;
    
}

.portfolio__rows:last-of-type{
    border-bottom: none;
}

@media screen and (max-width: 910px) {    
    .portfolio__rows {
        
        max-width: 87%;
    }
}

@media screen and (max-width: 322px) {    
    .portfolio__rows {
       
        padding-bottom: 19px;
        max-width: 91%;
    }
}