.promo__image{
    width: 310px;
    height: 304px;
    margin-top: 75px;
    margin-right: 70px;
    margin-left: 190px;
}

@media screen and (max-width: 910px) {    
    .promo__image {
        margin: 140px auto 48px;
    }
}

@media screen and (max-width: 322px) {    
    .promo__image {
        width: 210px;
        height: 206px;
        margin: 70px auto 42px;
    }
}