.header_register{
    padding-top: 70px;
    background: #202020;
    flex-direction: column;
    max-width: 396px;
    margin: auto;
}

@media screen and (max-width: 450px) {    
    .header_register {
        align-items: center;
        padding-top: 55px;
        margin-bottom: 13%;
    }
}