.movies-card__duration{
    margin: 0;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #8B8B8B;
    margin-bottom: 17%;
}

@media screen and (max-width: 465px) {    
    .movies-card__duration {
        margin-bottom: 11%;
    }
}

@media screen and (max-width: 400px) {    
    .movies-card__duration {
        margin-bottom: 17%;
    }
}