.movies-card__like{
    width: 14px;
    height: 12px;
    align-self: center;
    border: none;
    background-color: #424242;
    background: url(../../../images/Vector-heart.svg) no-repeat center;
    background-size: cover;
    cursor: pointer;
    outline: none;
}

.movies-card__like:hover {
    opacity: 0.6;
    transition: 1s linear;
}

@media screen and (max-width: 400px) {    
    .movies-card__like {
        margin-left: 86px;
    }
}