.about-me__image{
    width: 270px;
    height: 327px;
    border-radius: 10px;
    background-image: url(../../../images/foto.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

@media screen and (max-width: 769px) {    
    .about-me__image {
        width: 255px;
        height: 307px;
    }
}

@media screen and (max-width: 322px) {    
    .about-me__image {
        width: 292px;
        height: 352px;
    }
}