.profile__form{
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 769px) {    
    .profile__form {
        width: 53%;
    }
}

@media screen and (max-width: 322px) {    
    .profile__form {
        width: 81%;
    }
}